body{
    background-color: #fff4e1;

}

ul{
    display: flex;
    list-style: none;
    color: grey;
    margin-top: -40px;
    }

.foodle{
    color:black;
    font-size: 30px;
    list-style: none;
    margin-left: -90px;
    margin-top: 40px;
}

#home{
    color: black;
}

.navbar{
    margin-left: 200px;
    
}

li{
    margin-left: 100px;
}

.log{
    margin-left: 150px;
    color: tomato;
}

.sign{
    margin-left: 20px;
    border: 2px solid tomato;
    border-radius: 20px;
    background-color: transparent;
    color:tomato;
    padding: 10px 15px;
    margin-top: -10px;

}

